*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    height: 100hv; */
    background-image: url("https://fondosmil.com/fondo/14729.jpg");

}
h1{
    font-size: 3.5rem;
    text-align: center;
    margin: 8px;
    color: white;
}

#imagen-titulo{
    width: 200px;
    margin: 8px;
}
/* pokedex */
#random-pokemon{
    background-color: #ef2b34;
    width: 85%;
    height: 600px;
    max-width: 600px;
    max-height: 960px;
    border-radius: 10px;
    border: 5px solid #a31e27;
    margin: 0 50px;
}
.botones{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb(244, 244, 245);
    border-radius: 50%;
    left: 25px;
    top: 5px;
}
.celeste{
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: rgb(27, 156, 207);
    border-radius: 50%;
    left: 8px;
    top: 8px;
}
.rojo{
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(248, 246, 246) ;
    background-color: rgb(166, 28, 28);
    border-radius: 50%;
    left: 58px;
    top:5px;
}
.amarillo{
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(248, 246, 246) ;
    background-color: yellow;
    border-radius: 50%;
    left: 78px;
    top: 5px;
}
.verde{
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(248, 246, 246) ;
    background-color: green;
    border-radius: 50%;
    left: 98px;
    top: 5px;
}
.marco{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    margin: 8px 13px;
    padding: 5px;
    width: calc(100%-100px);
    height: 440px;
    border-radius: 20px;
    
}

.container-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: skyblue;
    margin:6px ;
    padding: 8px;
    border-radius: 12px;
    width: 260px;
    height: 400px;
}

.container-pokemon p{
    font-size: 2.5rem;
    color: rgb(20, 26, 180);
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin: 6px;
}
.imagen-pokedex{
    width: 250px; 
    max-height: 300px;
}

.pokemon-stats{
    width: 250px;
    /* max-width: 300px; */
    max-height: 400px;
    background: skyblue;
    margin: 6px;
    border-radius: 10px;
    padding: 6px;
    font-size: 1.6rem;
    font-weight: bold;
}
.pokemon-stats div{
    margin: 10px 0;
}

.progress-bar{
    text-align: center;
    border: none;
    background: rgba(57, 25, 105, 0.854);
    color: #ffffff;
    border-radius: 5px;
}


.buttons{
    position: relative;
    width: 100%;
    height: 100px;
    position: relative;
}
.button{
    width:60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(143, 130, 130);    
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    color: white;
}
.button:hover{
    background : rgb(197, 169, 169);
    color: black;
}

.guardar{
    position: absolute;
    left: 30px;
    top: 0;
}
.aleatorio{
    position: absolute;
    left: 100px;
    top: 0;
}
.anterior{
    position: absolute;
    right: 100px;
    top: 0;
}
.siguiente{
    position: absolute;
    right: 30px;
    top: 0;
}
.button-favorito{
    width: 100px;
    height: 30px;
    margin: 8px;
    border-radius: 10px;
    border: none;
    background: #199c54;
    font-weight: bold;
}
.button-favorito:hover{
    cursor: pointer;
    background: #40d383;
}
/*favoritos*/

#favoritos{
    width: 100%;
    height: 100%;
    min-height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}
#favoritos h2{
    font-size: 3.5rem;
}
.container-favoritos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: skyblue;
    width: 95%;
    max-width: 1200px;
    border-radius: 10px;
    border: 5px solid #a31e27 ;
}
.card-favorito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    margin: 20px;
}
.card-favorito p{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    color: black;
}

/*footer*/
/*Footer*/
footer{
    padding: 10px ;
    text-align: center;
    margin-top: 20px;
}
footer .container{    
    color: rgb(246, 246, 250);
    font-weight: bold;
    font-size: 1.6rem;    
}
footer #buttons-footer{
    min-width: 300px;
    display: flex;
    justify-content: center;
}
#buttons-footer a{
    text-decoration: none;
    font-size: 3.5rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: rgb(6, 51, 51);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
    transition: all .4s ease-in-out;
}
#buttons-footer a:hover{
    transform: scale(1.2);
}

@media(max-width:670px){
    
    .container-pokemon{
        /* width: 240px; */
        width: 100%;
        height: 250px;
    }
    
    .container-pokemon p{
        font-size: 1.8rem;
    }   
    
    .pokemon-stats{
        /* width: 200px; */
        width: 100%;
        height: 250px;
        padding: 4px;
    }
    .pokemon-stats span{
        font-size: 1.2rem;
    }
    .progress-bar{
        font-size: 1.2rem;
    }
    .pokemon-stats div{
        margin: 2px 0;
    }
    #random-pokemon{
        height: 100%;
    }
    .imagen-pokedex{
        width: 100%;
        max-height: 200px;
    }
    .marco{
        height: 100%;
    }
    .guardar{
        left: 10px;
    }
    .aleatorio{
        left: 80px;
    }
    .anterior{
        right: 80px;
    }
    .siguiente{
        right: 10px;
    }
}